@import 'anim.css';

/** 
** GENERAL
**/
body,
html {
  background-color: #111;
  color: #fefefe;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 500;
  font-size: 1.25em;
}

a {
  color: #fdfd96;
}

/** 
** HEADER 
**/
.header-title {
  font-size: 3em;
  margin: 0;
}

.navbar {
  list-style-type: none;
  padding-top: 2.5em;
  margin: 0;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  float: right;
  background-color: #0f0f0f;
}

.navbar li {
  padding-left: 3em;
  padding-top: 1.5em;
}

.navbar a,
.navbar a:visited {
  color: #fefefe;
  text-decoration: none;
}

.navbar a:hover {
  color: #dfdfdf;
}

.hamburger-nav {
  display: none;
}

.hamburger-menu {
  display: none;
}

.navbar-container {
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  animation: fadein 1s;
}

.header-container {
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-logo-container {
  margin-top: 5px;
}

.social-logo {
  height: 48px;
  filter: invert(100%) sepia(14%) saturate(50%) hue-rotate(212deg)
    brightness(116%) contrast(96%);
  padding: 5px;
}

.section-title-text {
  margin-bottom: 0;
}

#header-text {
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0;
  animation: fadein 2s;
}

#header-subtext {
  margin: 0;
  font-size: 1em;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  color: #cecece;
  animation: fadein 3s;
}

#down-arrow-icon {
  margin-top: 10px;
  filter: invert(100%) sepia(9%) saturate(6632%) hue-rotate(288deg)
    brightness(117%) contrast(86%);
  animation: slidedown 2s;
  animation-iteration-count: infinite;
}

#site-logo {
  margin-left: 20%;
  padding: 1.5em;
  font-size: 1.5em;
  font-weight: 400;
}

/** 
** ABOUT
**/

.about-container {
  min-height: 50vh;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 50px;
}

.about-box {
  width: 400px;
  padding: 50px;
  border-radius: 10px;
}

.box-bg {
  background-color: #0f0f0f;
}

.skill-title {
  font-weight: 700;
}

/** 
** PROJECTS
**/

.projects-container {
  width: 100vw;
  min-height: 50vh;
  background-color: #0f0f0f;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
}

.project-description {
  max-width: 275px;
  text-align: start;
}

.project-img:hover {
  animation: imagehover 0.5s;
  transform: translateY(-20px);
  box-shadow: -19px 17px 0px -2px rgba(34, 34, 34, 1);
  -webkit-box-shadow: -19px 17px 0px -2px rgba(34, 34, 34, 1);
  -moz-box-shadow: -19px 17px 0px -2px rgba(34, 34, 34, 1);
}

/** 
** CONTACT
**/
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #0f0f0f;
}

.contact-subcontainer {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.contact-box {
  min-height: 400px;
  background-color: #111;
  padding: 25px;
}

.contact-form {
  margin-top: 25px;
}

.email-subject-input {
  padding: 10px;
  margin-top: 10px;
  width: 300px;
  background-color: #efefef;
  border-radius: 5px;
  border: 0;
}

.email-subject-input:focus {
  outline: none;
}

.email-body-input {
  padding: 10px;
  margin-top: 10px;
  width: 300px;
  height: 75px;
  background-color: #efefef;
  border-radius: 5px;
  border: 0;
  resize: none;
}

.email-body-input:focus {
  outline: none;
}

.form-label {
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 0.9em;
}

.email-button {
  cursor: pointer;
  color: #0f0f0f;
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: #fdfd96;
  margin-top: 25px;
  padding: 15px;
  border-radius: 15px;
  font-weight: 500;
  text-align: center;
}

.email-button:hover {
  animation: buttonhover 0.5s;
  transform: translatey(-10px);
  box-shadow: -6px 12px 0px 0px rgba(253, 253, 150, 0.75);
  -webkit-box-shadow: -6px 12px 0px 0px rgba(253, 253, 150, 0.75);
  -moz-box-shadow: -6px 12px 0px 0px rgba(253, 253, 150, 0.75);
}

/** 1000px **/
@media screen and (max-width: 1100px) {
  .navbar {
    margin-right: 5em;
  }

  .navbar li {
    font-size: 0.9em;
    margin-top: 0.25em;
  }

  .project-img {
    max-height: 400px;
  }

  .project-description {
    max-width: 200px;
  }

  .project-box {
    padding-left: 25px;
    padding-right: 25px;
  }

  .contact-subcontainer {
    display: flex;
    flex-direction: column;
  }

  .email-subject-input,
  .email-body-input {
    width: 95%;
  }

  .google-maps-embed {
    max-height: 300px;
    width: 700px;
  }

  .social-logo {
    height: 38px;
  }

  #site-logo {
    margin-left: 0.5em;
  }

  #header-text {
    font-size: 2.5em;
  }

  #header-subtext {
    font-size: 0.9em;
  }

  #down-arrow-icon {
    width: 40px;
    height: 40px;
  }
}

/** 930px **/
@media screen and (max-width: 900px) {
  .section-title-text {
    font-size: 1.5em;
  }

  .about-paragraph {
    font-size: 0.9em;
  }

  .about-box {
    padding: 25px;
  }
}

/** 700px **/
@media screen and (max-width: 700px) {
  .navbar {
    display: none;
  }

  .hamburger-nav {
    display: flex;
    padding: 3em;
    margin: 0;
    margin-right: 0.5em;
    flex-direction: column;
  }

  .hamburger-icon,
  .hamburger-icon:visited {
    font-size: 2em;
    text-decoration: none;
    color: #fefefe;
  }

  .hamburger-icon:hover {
    color: #555;
  }

  .hamburger-wrapper {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .hamburger-menu {
    margin-top: 7em;
    margin-right: 3em;
    margin-left: 3em;
    border-radius: 10px;
    display: block;
    position: absolute;
    background-color: #222;
    width: 80%;
    animation: slidefromtop 0.5s;
  }

  .hamburger-menu ul {
    list-style-type: none;
  }

  .hamburger-menu li {
    padding: 1em;
  }

  .hamburger-menu a {
    text-decoration: none;
    color: #fefefe;
  }

  .about-container {
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }

  .about-box {
    width: 85%;
    padding: 25px;
  }

  .box-bg {
    max-width: 100%;
  }

  .skill-text {
    font-size: 0.9em;
  }

  .projects-subcontainer {
    flex-direction: column;
  }

  .project-img {
    max-height: none;
  }

  .project-description {
    font-size: 0.9em;
    max-width: 275px;
  }

  .google-maps-embed {
    max-width: 400px;
  }

  .social-logo {
    height: 32px;
  }

  #header-text {
    font-size: 2em;
  }

  #header-subtext {
    font-size: 0.9em;
    padding-left: 30px;
    padding-right: 30px;
  }

  #down-arrow-icon {
    width: 36px;
    height: 36px;
  }
}

/** 475px **/
@media screen and (max-width: 475px) {
  .google-maps-embed {
    max-width: 350px;
  }
}
